<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
  	<%- partial('_partial/github') %>
  	<%- partial('_partial/header') %>
    <%- partial('_partial/menubar') %>
    <%- partial('_partial/sidebar') %>
    <div class="container">
        <main class="main">
        <%- body %>
      </main>
    </div>
  <%- partial('_partial/footer') %>
  </body>
  <%- partial('_partial/myjs') %>
  <%- partial('_partial/mathjax') %>
</html>