<article class="post opacity">
  <div class="text-center">
    <div class="post-title">
      <h2 class="title"><%= page.title %></h2>
    </div>

     <div class="text-center">
      <span class="post-meta" title="发布日期">
        <span class="glyphicon glyphicon-time"></span>
        <span class="post-time"><%- date(page.date, " YYYY") %></span>年<span class="post-time"><%- date(page.date, " MM") %></span>月<span class="post-time"><%- date(page.date, " DD") %></span>日
      </span>
      <span class="post-meta">|</span>
      <span class="post-meta" title="更新日期">
        <span class="glyphicon glyphicon-refresh"></span>
        <span class="post-time"><%- date(page.date, " YYYY") %></span>年<span class="post-time"><%- date(page.date, " MM") %></span>月<span class="post-time"><%- date(page.date, " DD") %></span>日
      </span>
      </div>
  </div>
    <br>
    <div class="post-content">
      <%- page.content %>
    </div>
</article>

<div class="card comments"><%- partial('_partial/comments') %></div>